@inject IService service
@inject IJSRuntime js
@inject NavigationManager navigate
<div class="d-flex  justify-content-between mb-2" style="">
    <div>
        <h2 class="text-primary">Proveedores</h2>
    </div>
    <div class="align-content-end">
        <button title="Nuevo proveedor" type="button" class="btn btn-outline-info" @onclick="NuevoProveedor">
            <i class="bi bi-plus-circle m-1"></i> Nuevo
        </button>
    </div>
</div>

<span class="text-danger">@message</span>
<span class="text-danger">@error</span>

<table class="table table-bordered  table-striped table-hover">
    <thead>
        <tr>
            <th></th>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Telefono</th>
            <th scope="col">Telefono2</th>
            <th scope="col">Direccion</th>
            <th scope="col">Fax</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Proveedores)
        {
            <tr>
                <td>
                    <button class="btn btn-sm btn-outline-primary" title="Editar" @onclick="@(e => EditaProveedor(e, item.IdProveedor))"><i class="bi bi-pencil-square"></i></button>
                    <button class="btn btn-sm btn-outline-danger" title="Eliminar" @onclick="@(e => AlertaEliminarProveedor(e, item.IdProveedor, item.Nombre))"><i class="bi bi-trash"></i></button>
                </td>
                <td>@item.Nombre</td>
                <td>@item.Correo</td>
                <td>@item.Telefono1</td>
                <td>@item.Telefono2</td>
                <td>@item.Direccion</td>
                <td>@item.Fax</td>
            </tr>
        }
    </tbody>
</table>

<BSModal @ref="ModalEdit" Size="Size.Large">
    <BSModalHeader Class="bg-primary text-white" OnClick="@(() => ModalEdit.Hide())">Editar Proveedor</BSModalHeader>
    <BSModalBody>
        <FormularioProveedor ProveedorVM="@proveedorEdit" CerraModal="CerrarModalEdit" RecargarListado="RecargarListadoProveedores" />
    </BSModalBody>
</BSModal>

<BSModal @ref="ModalNuevo" Size="Size.Large">
    <BSModalHeader OnClick="@(() => ModalNuevo.Hide())">Nuevo Proveedor</BSModalHeader>
    <BSModalBody>
        <FormularioProveedor ProveedorVM="@proveedorNuevo" CerraModal="CerrarModalNuevo" />
    </BSModalBody>
</BSModal>

<BSModal @ref="ModalEliminar" Size="Size.Small">
    <BSModalHeader Class="bg-danger text-white" OnClick="@(() => ModalEliminar.Hide())">Eliminar proveedor</BSModalHeader>
    <BSModalBody>
        <p>
            <span>Está seguro de eliminar el proveedor <strong>@nombreProveedor</strong> ?</span>
        </p>
    </BSModalBody>
    <div class="modal-footer">
        <button class="btn btn-outline-danger" @onclick="CerrarModalEliminar"><i class="bi bi-x-circle mr-1"></i>Cerrar</button>
        <button class="btn btn-outline-primary" @onclick="EliminarProveedor"><i class="bi bi-trash mr-1 "></i>Eliminar</button>

    </div>
</BSModal>

@code{

    BSModal ModalEdit { get; set; }
    BSModal ModalNuevo { get; set; }
    BSModal ModalEliminar { get; set; }

    List<ProveedoresViewModel> Proveedores = new List<ProveedoresViewModel>();

    ProveedoresViewModel proveedorEdit = new ProveedoresViewModel();

    string message = "";
    string error = "";
    string nombreProveedor = "";
    int idProveedorEliminar = 0;

    ProveedoresViewModel proveedorNuevo = new ProveedoresViewModel();

    protected void NuevoProveedor()
    {
        ModalNuevo.Show();
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Proveedores = await service.ObtenerProveedores();
        }
        catch (Exception ex)
        {
            message = "Ha ocurrido un error al obtener proveedores";
            error = ex.Message;
        }
    }

    protected void EditaProveedor(EventArgs e, int IdProveedor)
    {
        proveedorEdit = Proveedores.FirstOrDefault(x => x.IdProveedor == IdProveedor);
        ModalEdit.Show();
    }

    protected void CerrarModalNuevo()
    {
        ModalNuevo.Hide();
    }

    protected void CerrarModalEdit()
    {
        ModalEdit.Hide();
    }

    protected async void RecargarListadoProveedores()
    {
        try
        {
            Proveedores = await service.ObtenerProveedores();
        }
        catch (Exception ex)
        {
            message = "Ha ocurrido un error al obtener proveedores";
            error = ex.Message;
        }
    }

    protected void AlertaEliminarProveedor(EventArgs e, int IdProveedor, string nombreProveedorEliminar)
    {
        ModalEliminar.Show();
        nombreProveedor = nombreProveedorEliminar;
        idProveedorEliminar = IdProveedor;
    }

    protected void CerrarModalEliminar()
    {
        idProveedorEliminar = 0;

        ModalEliminar.Hide();
    }

    protected async void EliminarProveedor()
    {
        try
        {
            var respuesta = await service.EliminarProveedor(idProveedorEliminar);
            if (respuesta.Ok)
            {
                await js.InvokeVoidAsync("showAlert", "success", respuesta.Message, "");
                CerrarModalEliminar();
                await Task.Delay(1600).ContinueWith((task) =>
                {
                    navigate.NavigateTo("proveedores", forceLoad: true);
                });
            }
        }
        catch (Exception)
        {

            throw;
        }
    }

}