@inject IService service
@inject IJSRuntime js
@inject NavigationManager navigate

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div>
            <h5 class="">Pedido</h5>
        </div>
        <div class="d-flex">
            <BSButton OnClick="handleNuevo" Class="mt-2 mr-2" Color="Color.Primary" IsOutline="true" IsDisabled="@BtnNuevo" Size="Size.Small">
                <i class="bi bi-plus-circle"></i>
            </BSButton>
            <BSButton OnClick="handleGuardar" Class="mt-2 mr-2" Color="Color.Primary" IsOutline="true" IsDisabled="@BtnGuardar" Size="Size.Small">
                <i class="bi bi-save"></i>
            </BSButton>
            <BSButton OnClick="handleBuscar" Class="mt-2 mr-2" Color="Color.Info" IsOutline="true" IsDisabled="@BtnBuscar" Size="Size.Small">
                <i class="bi bi-search"></i>
            </BSButton>

            <BSButton OnClick="handleCancelar" Class="mt-2 mr-2" Color="Color.Danger" IsOutline="true" IsDisabled="@BtnCancelar" Size="Size.Small">
                <i class="bi bi-x-circle"></i>
            </BSButton>
        </div>
    </div>
    <div class="card-body">

        @if (validarFormPedido)
        {
            <div class="alert alert-danger" role="alert">
                @mensajeError
            </div>
        }

        <FormularioPedido PedidoVM="PedidoVM" DisabledFormulario="BlockFormulario" />

        <BSButton @onclick="AbrirModalProducto" Color="Color.Primary" title="Añadir producto" IsDisabled="@BtnAgregarProducto">
            <i class="bi bi-box mr-1"></i>Agregar Producto
        </BSButton>

        <div class="table-responsive mt-4">
            <table class="table table-bordered  table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col">Articulo</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Descuento</th>
                        <th scope="col">I.V.A.</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var detalle in PedidoVM.DetallePedido)
                        {
                            <PedidoDetalle DetalleVM="detalle" EliminarLinea="@EliminarDetalle" CalcularTotales="CalcularTotales" />
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="row d-flex justify-content-end">
            <div class="col-sm-4 col-md-8">
                <textarea @bind="@PedidoVM.Observaciones" class="form-control h-100" disabled="@txtObservaciones">

                </textarea>
            </div>
            <div style="" class=" col-sm-6 col-md-4">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Subtotal:</label>
                    <div class="col-sm-8">
                        <input @bind-value="subtotal" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Impuesto:</label>
                    <div class="col-sm-8">
                        <input @bind-value="impuesto" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Descuento:</label>
                    <div class="col-sm-8">
                        <input @bind-value="descuento" disabled class="form-control" />
                    </div>
                </div>
                <div class="form-group row">

                    <label class="col-sm-4 col-form-label">Impuesto:</label>
                    <div class="col-sm-8">
                        <input @bind-value="total" disabled class="form-control" />
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<BSModal @ref="ModalProducto" IsFullWidth="true">
    <BSModalHeader Class="bg-primary text-white" OnClick="@(() => ModalProducto.Hide())">Selecciona producto</BSModalHeader>
    <BSModalBody>
        <SeleccionProducto SeleccionArticulo="PedidoDetalleViewModel.Articulo" AgregarDetalle="AgregarDetalle" CerraModalProducto="CerraModalProducto" />
    </BSModalBody>
    <div class="modal-footer">
        <button class="btn btn-outline-danger" @onclick="() => ModalProducto.Hide()"><i class="bi bi-x-circle mr-1"></i>Cerrar</button>
    </div>
</BSModal>


<BSModal @ref="ModalPedidos" IsFullWidth="true">
    <BSModalHeader Class="bg-primary text-white" OnClick="@(() => ModalPedidos.Hide())">Selecciona pedido</BSModalHeader>
    <BSModalBody>
        <SelectPedido/>
    </BSModalBody>
    <div class="modal-footer">
        <button class="btn btn-outline-danger" @onclick="() => ModalPedidos.Hide()"><i class="bi bi-x-circle mr-1"></i>Cerrar</button>
    </div>
</BSModal>

@code {

    PedidoViewModel PedidoVM = new PedidoViewModel();

    DetallePedidoViewModel PedidoDetalleViewModel = new DetallePedidoViewModel();

    BSModal ModalProducto { get; set; }
    BSModal ModalPedidos { get; set; }

    bool BtnNuevo = false; //{ get; set; }
    bool BtnGuardar = false; //{ get; set; }
    bool BtnBuscar = false; //{ get; set; }
    bool BtnCancelar = false; //{ get; set; }
    bool BtnAgregarProducto = false;
    bool BlockFormulario = true;
    bool txtObservaciones = true;

    bool validarFormPedido = false;

    decimal total { get; set; } = 0;
    decimal subtotal { get; set; } = 0;
    decimal impuesto { get; set; } = 0;
    decimal descuento { get; set; } = 0;

    string mensajeError = "";
    string error = "";


    public Response respuesta { get; set; }

    protected override void OnInitialized()
    {
        try
        {
            BtnGuardar = true;
            BtnCancelar = true;
            BtnAgregarProducto = true;
            PedidoVM.Fecha = DateTime.Now;

        }
        catch (Exception e)
        {
            e.Message.ToString();
        }
    }

    protected async void AbrirModalProducto()
    {
        ///validar que los datos del pedido sean validos
        ///
        if (PedidoVM.NumeroFactura == null || PedidoVM.Proveedor.IdProveedor == 0 || PedidoVM.NumeroReferencia == null)
        {
            validarFormPedido = true;
            mensajeError = "Todos los campos del pedido son obligatorio";
        }
        else
        {

            BlockFormulario = true;
            /*string[] elementArray = new string[4] { "txtNFactura", "btnProveedor", "dtfecha", "txtNumeroReferencia" };
            await js.InvokeVoidAsync("blockElement", (object)elementArray);*/
            validarFormPedido = false;
            ModalProducto.Show();

        }
    }

    protected void CerraModalArticulos()
    {
        ModalProducto.Hide();
    }

    protected void AgregarDetalle()
    {
        int IdPedidoDetalle = PedidoVM.DetallePedido.OrderByDescending(x => x.IdDetallePedido).FirstOrDefault()?.IdDetallePedido + 1 ?? 1;

        //Verficar si producto ya existe
        if (PedidoVM.DetallePedido.FirstOrDefault(x => x.IdArticulo == PedidoDetalleViewModel.Articulo.IdArticulo) != null)
        {
            validarFormPedido = true;
            mensajeError = "Este articulo ya está en el detalle";
            return;
        }
        validarFormPedido = false;
        decimal precio = PedidoDetalleViewModel.Articulo.Precios.FirstOrDefault()?.PrecioCosto ?? 0;
        decimal total = precio * 1;
        PedidoVM.DetallePedido.Add(new DetallePedidoViewModel
        {
            IdDetallePedido = IdPedidoDetalle,
            IdArticulo = PedidoDetalleViewModel.Articulo.IdArticulo,
            Cantidad = 1,
            Articulo = PedidoDetalleViewModel.Articulo,
            Precio = PedidoDetalleViewModel.Articulo.Precios.FirstOrDefault()?.PrecioCosto ?? 0,
            Subtotal = total,
            Total = total
        }
        );
        PedidoDetalleViewModel = new DetallePedidoViewModel();

        CalcularTotales();
    }

    protected void CerraModalProducto()
    {
        ModalProducto.Hide();
    }

    private void EliminarDetalle(string IdDetalle)
    {

        int id = Convert.ToInt32(IdDetalle);
        var detalle = PedidoVM.DetallePedido.FirstOrDefault(x => x.IdDetallePedido == id);

        if (detalle != null)
        {
            PedidoVM.DetallePedido.Remove(detalle);
        }
        CalcularTotales();
    }

    private void CalcularTotales()
    {
        total = PedidoVM.DetallePedido.Sum(x => x.Total);
        subtotal = PedidoVM.DetallePedido.Sum(x => x.Subtotal);
        impuesto = PedidoVM.DetallePedido.Sum(x => x.Iva);
        descuento = PedidoVM.DetallePedido.Sum(x => x.Descuento);
    }

    private async void handleGuardar()
    {
        if (PedidoVM.NumeroFactura == null || PedidoVM.Proveedor.IdProveedor == 0 || PedidoVM.NumeroReferencia == null)
        {
            mensajeError = "Todos los campos del pedido son obligatorio";
            validarFormPedido = true;
            return;
        }

        if (PedidoVM.DetallePedido.Count() == 0)
        {
            mensajeError = "El pedido no tiene detalle";
            validarFormPedido = true;
            return;
        }

        validarFormPedido = false;

        try
        {
            respuesta = await service.GuardarPedido(PedidoVM);
            if (respuesta.Ok)
            {
                await js.InvokeVoidAsync("showAlert", "success", respuesta.Message, "");
                await Task.Delay(1600).ContinueWith((task) =>
                {
                    navigate.NavigateTo("Pedido", forceLoad: true);
                });
            }
        }
        catch (Exception ex)
        {
            mensajeError = "Ha ocurrido un error al obtener proveedores";
            error = ex.Message;
        }

    }

    private void handleCancelar()
    {
        PedidoVM = new PedidoViewModel();
        PedidoDetalleViewModel = new DetallePedidoViewModel();
        BlockFormulario = true;
        BtnNuevo = false;
        BtnBuscar = false;
        BtnGuardar = true;
        BtnCancelar = true;
        BtnAgregarProducto = true;
        txtObservaciones = true;
        CalcularTotales();
    }

    private void handleNuevo()
    {
        BlockFormulario = false;
        BtnNuevo = true;
        BtnBuscar = true;
        BtnGuardar = false;
        BtnCancelar = false;
        BtnAgregarProducto = false;
        txtObservaciones = false;
    }

    private void handleBuscar()
    {
        ModalPedidos.Show();
    }


}
