
<tr>
    <td><button title="Eliminar detalle" @onclick="() => EliminarDetalle(DetalleVM.IdDetallePedido.ToString())" class="btn btn-sm btn-outline-danger"><i class="bi bi-trash3"></i></button></td>
    <td><input disabled @bind-value="DetalleVM.Articulo.Nombre" class="form-control" /></td>
    <td><input  value="@DetalleVM.Cantidad" class="form-control" @onchange="handleChangeCantidad" /></td>
    <td><input disabled id="precioArticulo-@DetalleVM.IdDetallePedido"  value="@DetalleVM.Precio"  @onchange="handleChangePrecio" class="form-control" /></td>
    <td><input id="descuentoArticulo-@DetalleVM.IdDetallePedido" value="@DetalleVM.Descuento" @onchange="handleChangeDescuento" class="form-control" /></td>
    <td><input id="ivaArticulo-@DetalleVM.IdDetallePedido" value="@DetalleVM.Iva" @onchange="handleChangeIva" class="form-control" /></td>
    <td><input disabled id="totalArticulo-@DetalleVM.IdDetallePedido" value="@DetalleVM.Total"  class="form-control" /></td>
</tr>

@code {
    [Parameter]
    public DetallePedidoViewModel DetalleVM { get; set; }

    [Parameter]
    public EventCallback<string> EliminarLinea { get; set; }

    [Parameter]
    public EventCallback CalcularTotales { get; set; }

    private void handleChangeCantidad(ChangeEventArgs e)
    {
        DetalleVM.Cantidad = Convert.ToDecimal( e.Value as string);

        DetalleVM.Subtotal = DetalleVM.Cantidad * DetalleVM.Precio;

        DetalleVM.Total = DetalleVM.Subtotal + DetalleVM.Iva - DetalleVM.Descuento;
        CalcularTotales.InvokeAsync(false);
    }

    private void handleChangeIva(ChangeEventArgs e)
    {
        DetalleVM.Iva = Convert.ToDecimal(e.Value as string);
        DetalleVM.Total = DetalleVM.Subtotal + DetalleVM.Iva;
        CalcularTotales.InvokeAsync(false);
    }

    private void handleChangePrecio(ChangeEventArgs e)
    {
        DetalleVM.Precio = Convert.ToDecimal(e.Value as string);

        DetalleVM.Subtotal = DetalleVM.Cantidad * DetalleVM.Precio;

        DetalleVM.Total = DetalleVM.Subtotal + DetalleVM.Iva - DetalleVM.Descuento;
        CalcularTotales.InvokeAsync(false);
    }

    private void handleChangeDescuento(ChangeEventArgs e)
    {
        DetalleVM.Descuento = Convert.ToDecimal(e.Value as string);

        DetalleVM.Subtotal = DetalleVM.Cantidad * DetalleVM.Descuento;
        CalcularTotales.InvokeAsync(false);
    }

    private  void EliminarDetalle(string IdDetalle)
    {
        EliminarLinea.InvokeAsync(IdDetalle);
        CalcularTotales.InvokeAsync(false);
    }

}
